.card__button {
  align-items: center;
  background: #202020;
  border: none;
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 8px;
  pointer-events: all;
  transition: all 0.2s ease-in-out;
  width: 40px;
}
