

body {
    background-color: #dadada;
  }
  
  .pages {
    color: #d3d7da;
    text-align: center;
    font-size: calc(1.5rem + 2vw);
    margin-top: 10%;
    
   
  }
  
  .navbar {
    background-color: #fff;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.16);
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    max-width: 1500px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  
  .nav-logo {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
  }
  
  .nav-div {
    flex-grow: 1;
    align-items: center;
    display: inline-flex;
    margin-right: 0px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  
   .nav-item a{
    color: #000000;
    text-decoration: none;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-personal li{
    content: "\2022";
    color: #f8c000;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #000000;
  }
  
  .nav-item .active {
    color: #000000;
  }
  
  .nav-icon {
    display: none;
  }
  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (min-width: 600px) {
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 55px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-personal {
      display: none;
    }
  
    .nav-menu.active {
      background: #fff;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #000000;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 15%;
      transform: translate(-100%, 60%);
      font-size: 1rem;
      cursor: pointer;
      color: #000000;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 1100px) {
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 55px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-personal {
      display: none;
    }
  
    .nav-menu.active {
      background: #fff;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #000000;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 15%;
      transform: translate(-100%, 60%);
      font-size: 1rem;
      cursor: pointer;
      color: #000000;
    }
  }
  