.slide {
    transform: scale(0.7);
    transition: transform 300ms;
    opacity: 1;
  }
  
  .slideWrapper {
    display: flex;
    justify-content: center;
  }
  
  .prevArrow {
    position: absolute;
    top: 40%;
    left: 60px;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
  }
  
  .nextArrow {
    position: absolute;
    top: 40%;
    right: 60px;
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
  }

  @media only screen and (min-width: 778px) {
    .prevArrow {
      position: absolute;
      top: 80%;
      left: 100px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
    
    .nextArrow {
      position: absolute;
      top: 80%;
      right: 80px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
  }
  

  @media only screen and (min-width: 990px) {
    .prevArrow {
      position: absolute;
      top: 80%;
      left: 140px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
    
    .nextArrow {
      position: absolute;
      top: 80%;
      right: 140px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    .prevArrow {
      position: absolute;
      top: 80%;
      left: 160px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
    
    .nextArrow {
      position: absolute;
      top: 80%;
      right: 160px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1209px) {
    .prevArrow {
      position: absolute;
      top: 80%;
      left: 320px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
    
    .nextArrow {
      position: absolute;
      top: 80%;
      right: 320px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 1400px) {
    .prevArrow {
      position: absolute;
      top: 80%;
      left: 370px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
    
    .nextArrow {
      position: absolute;
      top: 80%;
      right: 370px;
      z-index: 100;
      cursor: pointer;
      font-size: 2rem;
    }
  }